body {
    font-family: cursive;
    background: url(https://st.depositphotos.com/3470617/4920/v/950/depositphotos_49203401-stock-illustration-pizza-background.jpg);
    background-size: cover;
  }
  #app {
    position: relative;
  }
  button {
    display: inline-block;
    padding: 25px 25px;
    font-size: 40px;
    text-decoration: none;
    outline: none;
    color: #31086f;
    background-color: #fd6049;
    border: none;
    border-radius: 15px;
    box-shadow: 14px 20px 8px 7px #7f6d6d;
    margin-left: 45%;
  }
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  h3 {
    color: #1c1363;
    font-style: oblique;
  }
  .loading {
    background: yellow;
  }
  h4 {
    font-size: 40px;
    color: #404c2e;
    text-align: center;
  }
  .div1 {
    position: absolute;
    top: 350px;
    left: 300px;
    width: 300px;
    padding: 10px;
    color: #03734a;
  }
  .div2 {
    position: absolute;
    top: 350px;
    left: 0;
    width: 200px;
    color: #03734a;
  }
  .circle {
    position: absolute;
    border: 1px solid black;
    padding: 0;
    margin: 1em 100px;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
  }
  li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    border: 1px solid #8c7676;
    background: #6ebbe0;
    background-color: #85e279;
    animation-name: example;
    animation-duration: 6s;
  }
  .text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 20px;
  }
  @keyframes example {
    0% {
      background-color: #e45555;
    }
    25% {
      background-color: #d46ae2;
    }
    50% {
      background-color: #7e7eb9;
    }
    100% {
      background-color: #82e882;
    }
  }